.popup-menu {
    position: relative;
}

.popup-menu-content {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow-y: auto; /* add vertical scrollbar */
    padding: 0.5rem;
    color: black;
    margin: 10px auto;
  }

.popup-menu-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.popup-menu-content li {
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}

.popup-menu-content li:hover {
    background-color: #f0f0f0;
}